<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidian.shop.common.mapper.AreaInfoMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yidian.shop.common.entity.AreaInfo">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
        <result column="lng" property="lng"/>
        <result column="lat" property="lat"/>
        <result column="level" property="level"/>
        <result column="sort_no" property="sortNo"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, code, name, parent_id, lng, lat, level, sort_no
    </sql>
</mapper>
