<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidian.shop.mapper.PayInfoMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yidian.shop.entity.PayInfo">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="order_no" property="orderNo"/>
        <result column="out_trade_no" property="outTradeNo"/>
        <result column="pay_type" property="payType"/>
        <result column="pay_amount" property="payAmount"/>
        <result column="merchant_amount" property="merchantAmount"/>
        <result column="platform_amount" property="platformAmount"/>
        <result column="pay_status" property="payStatus"/>
        <result column="payment_time" property="paymentTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, merchant_id, order_no, out_trade_no, pay_type, pay_amount, merchant_amount, platform_amount,
        pay_status, payment_time, create_time, update_time, del_flag
    </sql>
</mapper>
