<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidian.shop.mapper.UserBalanceInfoMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yidian.shop.entity.UserBalanceInfo">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="user_type" property="userType"/>
        <result column="available_balance" property="availableBalance"/>
        <result column="total_balance" property="totalBalance"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, user_type, available_balance, total_balance, create_time, update_time, del_flag
    </sql>
</mapper>
